<div class="flex flex-row">
  <!-- First half: Workout Form -->
  <div class="w-5/12 flex justify-center items-center">
    <app-workout-form (workoutAdded)="onWorkoutAdded()"></app-workout-form>
  </div>

  <!-- Second half: Workout List -->
  <div class="w-7/12 flex justify-center items-center">
    <app-workout-list
      (navigateToLastPageEvent)="navigateToLastPage()"
    ></app-workout-list>
  </div>
</div>

<!-- Workout Dashboard below the split screen -->
<app-workout-dashboard class="mt-4"></app-workout-dashboard>
